* {                                                                 /* Universal declaration */
    box-sizing: border-box;                                         /*sets padding and border to be included in the width and height of the container  */
    padding: 0;                                                     
    margin: 0;                                                      
}

body {                                                              
    background-color: #d9dcd6;                                    /* Sets the background color of the whole page content */
}

.header {                                                           /*  class:  header */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  /* Sets a font for class header */
    background-color: #2a607c;                                      /* overrides web page background color for header class. */
    color: #ffffff;                                                 /* Sets text color */
    overflow: auto;
}

.header h1 {                                                        /*  h1 element under header class */
    display: inline-block;                                          /*  Set elemenent to be inline-block */
    font-size: 48px;                                                
}

.header h1 .seo {                                                   /* Sets text color for h1 under class header  */
    color: #d9dcd6;
}

.header div {                                                       /* sets div element under header class  */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {                                                    /*  Eliminates bullets for list under div element of class header */
    list-style-type: none;
    overflow: auto;
}

.header div ul li {                                                 /* Forces list items to be on the same line block that are under div element of class header  */
    display: inline-block;
    margin-left: 25px;
}

a {                                                                 /* Link's format declaration */
    color: #ffffff;
    text-decoration: none;
}

p {                                                                 /* Formats paragrapah element */
    font-size: 16px;
    text-align: justify;                                            /* Added text-align: justify here */
    
}

.hero {                                                             /*  Format declaration for the biggest picture on the web page - image is loaded and sized here */
      
    height: 800px;
    max-width: auto;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg"); 
    background-size: cover;
    background-position: center;
    
}

.float-left {                                                           /* Item to be at the left portion of another item  */
    float: left;
    margin-right: 25px;
}

.float-right {                                                          /*  Item to be at the right portion of another item */
    float: right;
    margin-left: 25px;
}

.content {                                                              /* Sets content container size, display and margin  */
    width: 75%;
    max-width: 75%;
    height: auto;
    display: inline-block;
    margin-left: 20px;
    overflow:auto
}


.row-content-format {                                                   /* Sets the appearance and properties of the content box  */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    max-width: fit-content;
    min-width: 10%;
    overflow: auto;
}



.row-content-format img {                                               /*  Sets the image's size  */
    max-height: 200px;
    width: auto;
}



.row-content-format h2 {                                                /* Sets heading h2 format  */
    margin-bottom: 20px;
    font-size: 36px;
}



.benefits {                                                             /* Sets the box dimension of aside container  */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    max-width: 20%;
    max-height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    overflow: auto;
}


.col-content {                                                          /* Sets aside content  */
    margin-bottom: 32px;
    color: #ffffff;
    
}


.col-content h3 {                                                       /* Format for aside heading h3  */
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
    
}


.col-content img {                                                      /* Sets aside image size  */
    display: block;
    margin: 10px auto;
    width: auto;
    height: 150px;
    /*
    max-width: 150px;
    height: auto;
    */

}

.footer {                                                               /* Sets footer properties  */
    padding: 30px;
    clear: both;                                                        /* moves the footer to the bottom */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {                                                            /* sets the font-size for footer h2 heading */
    font-size: 20px;
}

.footer p {                                                             /* sets footer paragraphs to be centered */
    text-align: center;
}
